[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jupyter = "*"
python-dotenv = "*"
tweepy = "*"
pandas = "*"
autopep8 = "*"
pytest = "*"
tqdm = "*"
ipython-sql = "*"
psycopg2 = "*"
requests-cache = "*"
requests-html = "*"
lxml = "*"

[requires]
python_version = "3.9"
